Source: tomboy
Section: gnome
Priority: optional
Maintainer: Dave Beckett <dajobe@debian.org>
Build-Depends: cdbs, debhelper (>= 5), mono-mcs (>= 1.1.8.1) | c-sharp-compiler, libgtk2.0-cil, libgnome2.0-cil, libgtkspell-dev (>= 2.0.9), libmono-dev (>= 1.1.8.1), intltool, libdbus-1-cil (>= 0.61-3), libpanel-applet2-dev, cli-common (>= 0.2.0), sharutils, libgnomeprintui2.2-dev, libgtk2.0-dev (>= 2.6), libatk1.0-dev (>= 1.2.4), libgmime2.1-cil
Standards-Version: 3.6.2

Package: tomboy
Architecture: any
Depends: ${cli:Depends}, ${misc:Depends}, ${shlibs:Depends}
Description: desktop note taking program using Wiki style links
 Tomboy is a desktop note-taking application which is simple and easy to
 use. It lets you organise your notes intelligently by allowing you to
 easily link ideas together with Wiki style interconnects.
