Source: tomboy
Section: gnome
Priority: optional
Maintainer: Debian CLI Applications Team <pkg-cli-apps-team@lists.alioth.debian.org>
Uploaders: Sebastian Dröge <slomo@debian.org>, Iain Lane <laney@ubuntu.com>
Build-Depends: debhelper (>= 7.0.50),
               quilt (>= 0.46-7~),
               autotools-dev,
               libtool,
               intltool,
               pngquant,
               mono-devel (>= 2.0),
               libgtk2.0-cil (>= 2.10.4),
               libgconf2.0-cil,
               libgnome2.24-cil,
               libgnomepanel2.24-cil,
               libgtkspell-dev (>= 2.0.9),
               libpanel-applet2-dev,
               cli-common-dev (>= 0.4.4),
               imagemagick,
               libgtk2.0-dev (>= 2.14.0),
               libatk1.0-dev (>= 1.2.4),
               libgmime2.2a-cil,
               gnome-doc-utils (>= 0.3.2),
               scrollkeeper,
               libmono-cairo2.0-cil,
               libndesk-dbus1.0-cil (>= 0.4),
               libndesk-dbus-glib1.0-cil (>= 0.3),
               libmono-addins0.2-cil (>= 0.3),
               libmono-addins-gui0.2-cil (>= 0.3)
Standards-Version: 3.8.3
Homepage: http://www.gnome.org/projects/tomboy/
Vcs-Git: git://git.debian.org/pkg-cli-apps/packages/tomboy.git
Vcs-Browser: http://git.debian.org/git/pkg-cli-apps/packages/tomboy.git

Package: tomboy
Architecture: any
Depends: ${cli:Depends}, 
         ${misc:Depends},
         ${shlibs:Depends}
Suggests: evolution,
          tasque
Description: desktop note taking program using Wiki style links
 Tomboy is a desktop note-taking application which is simple and easy to
 use. It lets you organise your notes intelligently by allowing you to
 easily link ideas together with Wiki style interconnects.

