Source: tomboy
Section: gnome
Priority: optional
Maintainer: Dave Beckett <dajobe@debian.org>
Build-Depends: cdbs, debhelper (>= 4.1.87), mono-mcs (>= 1.1.6) | c-sharp-compiler, libgtk-cil (>= 1.0), libgnome-cil (>= 1.0), libgtkspell-dev (>= 2.0.5), mono-jit [i386 powerpc amd64], libmono-dev (>= 1.1.6), mono-utils (>= 0.96), intltool, libdbus-cil (>= 0.23.4-3), libpanel-applet2-dev, cli-common (>= 0.1.3), sharutils
Standards-Version: 3.6.1.0

Package: tomboy
Architecture: any
Depends: ${cli:Depends}
Description: desktop note taking program using Wiki style links
 Tomboy is a desktop note-taking application which is simple and easy to
 use. It lets you organise your notes intelligently by allowing you to
 easily link ideas together with Wiki style interconnects.
