#!/usr/bin/make -f

export MONO_SHARED_DIR=$(CURDIR)

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/gnome.mk

DEB_CONFIGURE_SCRIPT_ENV := LDFLAGS="-Wl,-O1"
DEB_CONFIGURE_EXTRA_FLAGS := --disable-scrollkeeper
DEB_INSTALL_DOCS_ALL := README NEWS

common-configure-indep::
	mkdir -p $(MONO_SHARED_DIR)/.wapi

install/tomboy::
	uudecode debian/tomboy-16.xpm.uu && mv tomboy-16.xpm debian/tomboy/usr/share/pixmaps
	uudecode debian/tomboy-32.xpm.uu && mv tomboy-32.xpm debian/tomboy/usr/share/pixmaps

common-binary-predeb-arch::
	dh_clideps -d

clean::
	rm -rf $(MONO_SHARED_DIR)/.wapi

