#!/usr/bin/make -f

export MONO_SHARED_DIR=$(CURDIR)

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/gnome.mk

DEB_CONFIGURE_SCRIPT_ENV := LDFLAGS="-Wl,-O1"
DEB_INSTALL_DOCS_ALL := README NEWS

# Add Depend: libgalago-cil to get Galago plugin
#   However it currently fails to work so don't do that!

common-configure-indep::
	mkdir -p $(MONO_SHARED_DIR)/.wapi

post-patches::
	uudecode debian/tomboy.png.uu && mv tomboy.png data/images/tomboy.png
	uudecode debian/tomboy-24.png.uu && mv tomboy-24.png data/images/tomboy-24.png

install/tomboy::
	uudecode debian/tomboy-16.xpm.uu && mv tomboy-16.xpm debian/tomboy/usr/share/pixmaps
	uudecode debian/tomboy-32.xpm.uu && mv tomboy-32.xpm debian/tomboy/usr/share/pixmaps

	mkdir -p debian/tomboy/usr/share/applications
	cp debian/tomboy.desktop debian/tomboy/usr/share/applications
	rm -f debian/tomboy/usr/lib/tomboy/Plugins/GalagoPresence.dll

common-binary-predeb-arch::
	dh_clideps -d

clean::
	rm -rf $(MONO_SHARED_DIR)/.wapi

	rm -f data/images/tomboy.png
	rm -f data/images/tomboy-24.png

	rm -f Tomboy/Plugins/*.dll*

# cdbs leaves junk around after patching
	if test -r config.guess.cdbs-orig ; then \
	  mv -f config.guess.cdbs-orig config.guess; \
	fi
	if test -r config.sub.cdbs-orig ; then \
	  mv -f config.sub.cdbs-orig config.sub; \
	fi
